.Knitter {
    background: #000;

    display: none;

    height: 2px;

    opacity: .4;

    position: absolute;

    transform-origin: 0 0;
}

.Knitter:before,
.Knitter:after
{
    border-bottom: 30px solid transparent;
    border-bottom-style: inset;
    border-top: 30px solid transparent;
    border-top-style: inset;

    content: '';

    height: 0;

    margin: -29px -40px 0 0;

    opacity: .01;

    position: absolute;

    transform: scale(.1);

    width: 0;
}


.Knitter:before {
    border-right: 90px solid #000;

    margin-left: -43px;
}


.Knitter:after {
    border-left: 90px solid #000;

    right: -3px;
}


.Knitter_from:before,
.Knitter_to:after
{
    opacity: 1;
}
